@content-margin: 1rem;
@content-max-width: 1100px;

@brand-color: #0f4bbb;
@brand-color-faded: rgba(44, 103, 230, 0.56);

@small: ~'(max-width: 425px)';
@medium: ~'(max-width: 600px)';
@large: ~'(max-width: 768px)';
@fullwidth: ~'(max-width: 1000px)';

@primaryColor: #3fd0d4;
@mainWhite: #fff;
@offWhite: #f7f7f7;
@mainBlack: #222;
@mainGrey: #ececec;
@darkGrey: #afafaf;
@mainTransition: all 0.3s linear;
@mainSpacing: 2px;
@lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
@darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

.content-block() {
  max-width: @content-max-width;
  padding: 0 @content-margin;
  margin: 0 auto;
}
