@import (reference) '../../styles/variables.less';

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
.nav-header a:hover {
  color: @brand-color-faded;
  transition: @mainTransition;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: @brand-color;
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  transition: @mainTransition;
  height: 0;
  overflow: hidden;
  margin: auto;
  margin-top: 16px;
  padding-top: auto;
}
.show-nav {
  height: 216px;
}
.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: @brand-color;
  transition: @mainTransition;
  font-weight: bold;
  letter-spacing: @mainSpacing;
}
.nav-links a:hover {
  color: @brand-color-faded;
}
.nav-social-links {
  display: none;
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
    border-bottom: 1px solid #eaeaea;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1470px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-social-links {
    display: flex;
    line-height: 0;
  }
  .nav-social-links a {
    color: @brand-color;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: @mainTransition;
  }
  .nav-social-links a:hover {
    color: @brand-color-faded;
    transform: translateY(-5px);
  }
}

.header__homeLink {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.4em;
  color: @brand-color;
}
